.container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  flex-grow: 1; 
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
}

.dot {
  width: 8px;
  height: 8px;
  background: #5533FF;
  border-radius: 50%;
}
.arrow {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow:hover {
  opacity: 0.7;
}

.decription {
  padding: 24px;
}

.meta {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.answer {
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%;
  color: #474747;
  margin-bottom: 25px;
}

.details {
  font-weight: 600;
  font-size: 16px;
  color: #6A0BFF;
  cursor: pointer;
  display: block;
  text-align: right;
  margin-left: auto;
  margin-top: 8px;
}