.container {
  display: flex;
  gap: 1px;
}

.btnSetPage {
  background: none;
  cursor: pointer;
}

.btnPage {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  padding: 2px 6px;
  border-radius: 2px;
  color: #474747;
  cursor: pointer;
  transition: .2s ease;
  background: none;
}

.btnPage:hover {
  background: #6A0BFF;
  color: white;
}

.btnPage:disabled {
  background: #6A0BFF;
  color: white;
}