.container {
  width: 100%;
  background: white;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 130px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: #303030;
  margin-bottom: 20px;
}

.answer {
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}