.container {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #BABABA;
  border-radius: 12px;
  white-space: nowrap;
  cursor: pointer;
  transition: .2s ease;
}

.container:hover {
  border: 1px solid #6A0BFF;
}

.active {
  border: 1px solid #6A0BFF;
}